@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: poppins ;
    margin:0;
    background-color: black ;
    color: white;
}

svg{
    width:25px ; 
}
header{
    width:1200px ; 
    max-width: 90%;
    margin:auto ; 
    display:grid ; 
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px ;
    justify-content: center;
    align-items: center;
    position: relative;  /******/ 
    z-index: 100 ;
}

header .logo{
    font-weight: bold ;
}
header .menu{
    padding:0 ; 
    margin:0 ; 
    list-style: none;
    display: flex;
    justify-content: center;
    gap:20px ; 
    font-weight: 500;
}

/*** CSS SLIDER **/ 

.slider{
    height: 98vh ;
    margin-top: -50px ;
    position: relative;
    width: 100%;
}
.slider .list .item{
    position: absolute;  /** It Overlaps the divs **/ 
    inset: 0 0 0 0 ; /** It is same as left right top bottom Margin **/ 
    overflow: hidden;
    opacity: 0;
    transition:0.5s ; /**** Very Important to know **/
}
.slider .list .item img{
    width:100% ; /** By doing this we can bound image within the div **/ 
    height: 100%;
    object-fit: cover;  /** image shape will not get distorted **/ 
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left:0 ; 
    bottom:0 ; 
    background-image : linear-gradient( 
        to top , black 10% ,transparent);
}

.slider .list .item .content{
    position: absolute;
    left:10% ; 
    top:40% ; 
    width: 500px ;
    max-width: 80%;
    z-index: 40 ;
}

.slider .list .item .content p{
    font-size: 12px;
}
.slider .list .item .content p:nth-child(1){
    letter-spacing: 10px;
}
.slider .list  .item .content h2{
    font-size: 30px ; 
    margin:0px ; 
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10 ;  
}

@keyframes showContent{  /** Here we are creating Animation so that we can apply it to any element **/
    to{
        transform: translateY(0) ;
        filter: blur(0) ;
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter:blur(20px);
    opacity: 0;
    animation: showContent 0.5s 0.7s ease-in-out 1 forwards ;
}

.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-delay:1.3s;
}
.arrows{
    position: absolute;
    top:30% ; 
    right: 30%;
    z-index:100 ;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: 0.5s;
}
.arrows button:hover{
    background-color: #eee;
    color:black ; 
}

.thumbnail{
    position: absolute;
    top:75%;
    z-index: 50;
    display:flex ;
    gap:10px ; 
    width: 100%;
    height: 250px;
    padding: 0 50px ; 
    box-sizing: border-box;
    overflow:auto ; /** When the size of box in flex get overflowed then use it to fit the large box using scroll bar **/
    justify-content:center;
}

.thumbnail::-webkit-scrollbar{  /** Very Important **/ 
    width: 0;
}

.thumbnail .item{
    height: 150px;
    width: 80px;
    filter: brightness(0.5) ;
    transition:0.5s ; 
    flex-shrink: 0; /** item size will not reduce when screen size decreases **/ 
}
.thumbnail .item img{
    height: 100% ;
    width: 100%;
    object-fit: cover;
    border-radius: 10px ;
}

.thumbnail .item.active{
    filter: brightness(1.2);
}

.thumbnail .item .content{
    position: absolute;
    inset:auto 10px 10px 10px ; 
}

@media screen and (max-width:650px){
    header{
        font-size: 10px;
    }
    .slider{
        margin-top: 80px;
    }
    .slider .list .item{
        height: 100%;
        width: 100%;
    }
    .slider .list .item img{
        height: 200px;
        width:90% ; 
        margin-left: 5%;
    }
    .thumbnail{
        justify-content: start;
        top:80% ;  
        margin:0px ; 
    }
    .thumbnail .item{
        height: 100px;
        width: 70px;
    }
    .slider .list .item .content h2{
        font-size: 35px ; 
    }
    .slider .list .item .content p{
        font-size: 10px ; 
    }
    .slider .list .item .bk{
        position: absolute;
        width:90% ; 
        height: 200px;
        margin-left:5% ;
        z-index:100;
        top:30px ;
        background-image: linear-gradient( to top ,black 5% , transparent );
    }
    body::-webkit-scrollbar{  /** Very Important **/ 
        width: 0;
    }
}
